
@import "tailwindcss";

@theme {
  --color-primary: #FFD21F;
  --color-secondary: #00B86B;
  --color-background: #171B24;
  --color-text: #FFFDF7;
  --color-danger: #DC2626;
  --color-warning: #FBBF24;
  --color-success: #10B981;
}